body {
  background-color: #1b1c1e;
  font-family: "Roboto Condensed", sans-serif;
}

.weather-app {
  background: #eae4ca;
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(234, 228, 202, 0.15);
  border-radius: 10px;
}
